# Auto detect text files and perform LF normalization
* text=auto
pre_warp_0_31.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_32.jpg filter=lfs diff=lfs merge=lfs -text
stitched_intermediate_0_2.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_28.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_30.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_24.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_7.jpg filter=lfs diff=lfs merge=lfs -text
stitched_intermediate_0_1.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_11.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_16.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_3.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_6.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_9.jpg filter=lfs diff=lfs merge=lfs -text
reference_image_on_canvas.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_19.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_20.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_17.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_23.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_26.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_12.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_14.jpg filter=lfs diff=lfs merge=lfs -text
stitched_intermediate_0_3.jpg filter=lfs diff=lfs merge=lfs -text
stitched_intermediate_0_32.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_2.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_25.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_21.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_22.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_5.jpg filter=lfs diff=lfs merge=lfs -text
stitched_intermediate_0_30.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_10.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_13.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_18.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_27.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_29.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_1.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_15.jpg filter=lfs diff=lfs merge=lfs -text
stitched_intermediate_0_31.jpg filter=lfs diff=lfs merge=lfs -text
stitched_map_final.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_4.jpg filter=lfs diff=lfs merge=lfs -text
pre_warp_0_8.jpg filter=lfs diff=lfs merge=lfs -text
